.app__header{
    background-color: var(--color-black);
}
.app__header-h1{
    font-family: var(--font-base);
    color: var(--color-golden);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 117px;
    font-size: 90px;
}
.app__header-img img{
    width: 80%;
}

.button {
    font-family: helvetica;
    font-weight: bold;
    color: #14396A !important;
    font-size: 18px;
    text-shadow: 1px 3px 2px #50DE71;
    box-shadow: 4px 3px 4px #BEE2F9;
    padding: 15px 31px;
    border-radius: 18px;
    border: 3px double #2DA329;
    background: #EE53D4;
    background: linear-gradient(to top, #EE53D4, #C9CF6E);
  }
  .button:hover {
    color: #14396A !important;
    background: #1DA5CF;
    background: linear-gradient(to top, #1DA5CF, #EE402D);
  }
  
  @media screen and (min-width: 2000px) {
    .app__header-h1 {
        font-size: 180px;
        line-height: 210px;
    }
}

@media screen and (max-width: 1150px) {
    .app__header-h1 {
        font-size: 90px;
    }
}

@media screen and (max-width: 650px) {
    .app__header-h1 {
        font-size: 40px;
        line-height: 55px;
        text-align: center;
    }
}

@media screen and (min-device-width: 400px) and (max-device-width: 492px) {
    .app__header-h1 {
        font-size: 45px;
        line-height: 70px;
        margin-right: 100px;
        padding-right: 20px;
    }
}